<configuration>

  <system.web>
    <compilation defaultLanguage="c#" debug="true"	/>
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"	/>
    <sessionState mode="InProc" cookieless="true" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

  </system.web>

</configuration>

